<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Can you solve my riddle?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="element1" class="movable-element"><img src="{{ url_for('static', filename='thanks.gif') }}"><br>What makes a CSAPer a CSAPer? Let's have a look:</div>
    <div id="element2" class="movable-element"><img src="{{ url_for('static', filename='eagle.png') }}"></div>
    <div id="element4" class="movable-element"><img src="{{ url_for('static', filename='standby.png') }}"><br>Accurate valentine's cards</div>
    <div id="element3" class="movable-element">| &ensp; Great humor<br>\/<br><img src="{{ url_for('static', filename='hidden.png') }}"></div>
    <div id="element5" class="movable-element">Wow you found Markus!<img src="{{ url_for('static', filename='u.gif') }}"></div>
    <div id="element11" class="movable-element"><img src="{{ url_for('static', filename='a.gif') }}">Manuellittooo</div>
    <div id="element10" class="movable-element"><img src="{{ url_for('static', filename='h.gif') }}">Wait no, it's Emily!</div>
    <div id="element9" class="movable-element">Found the billionaire<img src="{{ url_for('static', filename='t.gif') }}"></div>
    <div id="element12" class="movable-element"><img src="{{ url_for('static', filename='n.gif') }}"></div>
    <div id="element14" class="movable-element"><img src="{{ url_for('static', filename='w.png') }}"></div>
    <div id="element15" class="movable-element"><img src="{{ url_for('static', filename='mario.png') }}"></div>
    <div id="element13" class="movable-element"><img src="{{ url_for('static', filename='k.gif') }}"><br>Found the cat!</div>
    <!-- Add more elements as needed -->
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
The cake is a lie
</body>
</html>